@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 
  @font-face {
    font-family: "Brandon-reg";
    src: url("/fonts/Brandon_reg.woff");
  }

  @font-face {
    font-family: "Brandon-black";
    src: url("/fonts/Brandon_blk.woff");
  }

  @font-face {
    font-family: "Brandon-medium";
    src: url("/fonts/Brandon_med.woff");
  }

  @font-face {
    font-family: "Nexa";
    src: url("/fonts/Nexa-Bold.woff");
  }

  @font-face {
    font-family: "Interface";
    src: url("/fonts/Nexa-Bold.woff");
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins.woff");
  }




  html,
  body,
  #root {
    width: 100vw;
    height: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #1517a5; */
  }
}


