@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 
  @font-face {
    font-family: "Brandon-reg";
    src: url("/fonts/Brandon_reg.woff");
  }

  @font-face {
    font-family: "Brandon-black";
    src: url("/fonts/Brandon_blk.woff");
  }

  @font-face {
    font-family: "Brandon-medium";
    src: url("/fonts/Brandon_med.woff");
  }

  @font-face {
    font-family: "Nexa";
    src: url("/fonts/Nexa-Bold.woff");
  }

  @font-face {
    font-family: "Interface";
    src: url("/fonts/Nexa-Bold.woff");
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins.woff");
  }




  html,
  body,
  #root {
    width: 100vw;
    height: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;

  }
}

/* .canvas {
  pointer-events: none;
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  width: 100vw !important;
  height: 100vh !important;
} */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

